.tb-canvas {
    border: 2px solid red;
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
}

.tb-canvas-context-menu-trigger {
    position: fixed;
    visibility: hidden;
}